{
  "printWidth": 80,
  "semi": false,
  "vueIndentScriptAndStyle": true,
  "singleQuote": true,
  "trailingComma": "none",
  "proseWrap": "always",
  "htmlWhitespaceSensitivity": "strict",
  "endOfLine": "auto"
}
